<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Mision/Vision - NUESTRA SEÑORA DE LAS MERCEDES</title>
  <link rel="icon" href="../img/LOGO-MERCEDES.png" type="image/x-icon">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/misio_vision.css" rel="stylesheet">
  

</head>

<body>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <h1>Mision, Vision Y Valores</h1>
        <h2><span class="rotating">"El futuro comienza hoy"</span></h2>
      </div>
    </div>
  </section>

  <!--==========================
  Sección de encabezado
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="../index.html"><img src="../img/LOGO-MERCEDES.png" alt="logo-ie" title="" /></img></a>
        <!-- Descomenta abajo si prefieres usar una imagen de texto -->
        <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a href="../index.html">Inicio</a></li>
          <li class="menu-has-children"><a>Educacion</a>
            <ul>
              <li><a href="NivelInicial.html">Nivel inicial</a></li>
              <li><a href="NivelPrimaria.html">Nivel primaria</a></li>
            </ul>        
          </li>
          <li class="menu-has-children menu-active"><a>Nosotros</a>
            <ul>
              <li><a href="Presentacion.html">Presentacion</a></li>
              <li><a href="#">Mision, Vision, Valores</a></li>
              <li><a href="PlanaDocentes.html">Plana Docente</a></li>
              <li><a href="PlanEstudios.html">Plan De Estudios</a></li>
              <li><a href="Ubicacion.html">Ubicacion</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a>Servicios</a>
            <ul>
              <li><a href="servicios/Notas.html">Notas</a></li>
              <li><a href="servicios/Asistencia.html">Asistencia</a></li>
              <li><a href="servicios/Biblioteca.html">Biblioteca</a></li>
            </ul>
          </li>

          <li><a href="../index.html#portfolio">Eventos</a></li>
          <li><a href="../index.html#testimonials">Comentarios</a></li>  
          <li><a href="../index.html#contact">Contactanos</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

<!-- CONTENIDO MIsION VIsion valores-->
<div class="container-cont  wow fadeInRight">
  <section class="section-cont ">
      <h2 class="h2-mvv">MISIÓN</h2>
      <div class="content">
          <p>La I.E N°38266/MxP. "Nuestra señora de las mercedes" Brinda una formacion integral basada en valores con ejercicio de derechos. Democracia. Etica. Interculturalidad,Inclusion Y la equidad que busca el bien comun para lograr que todos
            los estudiantes accedan, permanescan y concluyan la escolaridad en el nivel inicial y primaria. En ambientes acojedores, espacios seguros, inclusivos de sana convivencia y libres de vioencia.</p>
          <img src="../img/IMG-INICIAL-ENTRADA.jpg" alt="imagen mision">
      </div>
  </section>
  
  <section class="section-cont wow fadeInRight">
      <h2 class="h2-mvv">VISIÓN</h2>
      <div class="content">
          <img src="../img/IMG-PRIMARIA-ENTRADA.jpg" alt="imagen vision">
          <p>Al año 2027 La I.E N°38266/MxP "Nuestra señora de las mercedes" Sera reconocido como una I.E que forma integralmente a sus estudiantes, Desarrollando sus potencialidades y competencias, nivel inicial y primaria en espacios seguros, ejerciendo responsablemente
            libertad para construir proyectos de vida personales y colectivos, conviviendo y dialogando intergeneracional e interculturalmente en una sociedad democratica, equitativa, igualitaria e inclusiva, que respeta y valora la diversidad en todas sus expresiones en armonia con el ambiente natural y artificial de acorde al avanze de la ciencia 
            y tecnologia en concordancia con el perfil de egreso del curriculo nacional de educacion basica.
          </p>

        </div>
  </section>
  <section class="section-cont wow fadeInRight">
    <h2 class="h2-mvv">VALORES</h2>
    <div class="content">
        <pre>              Responsabilidad
              Solidaridad
              Perseverancia
              Respeto
              Integridad
              Identidad
        </pre>
        <img src="../img/IMG-PRIMARIA-ENTRADA.jpg" alt="imagen vision">
    </div>
</section>
</div>
<!-- Link para contactar a whatsapp-->
<a href="https://wa.me/+51938473842">
  <div id="contactar-flotante">
    <p>Necesitas ayuda? <b> Habla con nosotros</b></p>
    <div id="img-wa">
      <img src="../img/whatsapp_logo_icon_147205.png" alt="">
    </div>
  </div>
</a>
  <!--==========================
 
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Huanta <strong>2024</strong>. Todos Los Derechos Reservados
          </div>
          <div class="credits">
            I.E N°38266 "Nuestra Señora De Las Mercedes"
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/superfish/hoverIntent.js"></script>
  <script src="../lib/superfish/superfish.min.js"></script>
  <script src="../lib/morphext/morphext.min.js"></script>
  <script src="../lib/wow/wow.min.js"></script>
  <script src="../lib/stickyjs/sticky.js"></script>
  <script src="../lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="../js/custom.js"></script>

  <script src="../contactform/contactform.js"></script>


</body>

</html>
